<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Home</title>
		<meta name="description" content="Animated Books with CSS 3D Transforms" />
		<meta name="keywords" content="book, 3d, interactive, animated, 3d transform, css, web design" />
		<meta name="author" content="Marco Barría for Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="../../static/landingpage/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../../static/landingpage/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../../static/landingpage/css/book.css" />
		<script src="../../static/landingpage/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="#"><span>Yêu cầu trợ giúp</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="/auth/login"><span>Đăng Nhập</span></a></span>
			</div>
			<header>
				<h1>HAU-BOOKS<span>Books for all ages.</span></h1>	
			</header>
			<div class="component">

				<ul class="align">
					<li>
						<figure class='book'>

							<!-- Front -->

							<ul class='hardcover_front'>
								<li>
									<div class="coverDesign yellow">
										<span class="ribbon">NEW</span>
										<h1>Science</h1>
										<p>learn</p>
									</div>
								</li>
								<li></li>
							</ul>

							<!-- Pages -->

							<ul class='page'>
								<li></li>
								<li>
									<a class="btn" href="/shop">Detail</a>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>

							<!-- Back -->

							<ul class='hardcover_back'>
								<li></li>
								<li></li>
							</ul>
							<ul class='book_spine'>
								<li></li>
								<li></li>
							</ul>
							<figcaption>
								<h1>The Science Book</h1>
								<span>learning book</span>
								<p>Everything You Need to Know About the World and How It Works.</p>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure class='book'>

							<!-- Front -->

							<ul class='hardcover_front'>
								<li>
									<div class="coverDesign blue">
										<h1>Economy</h1>
										<p>Enrich</p>
									</div>
								</li>
								<li></li>
							</ul>

							<!-- Pages -->

							<ul class='page'>
								<li></li>
								<li>
									<a class="btn" href="/shop">Detail</a>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>

							<!-- Back -->

							<ul class='hardcover_back'>
								<li></li>
								<li></li>
							</ul>
							<ul class='book_spine'>
								<li></li>
								<li></li>
							</ul>
							<figcaption>
								<h1>The Economic Book</h1>
								<span>economy</span>
								<p>Big Ideas Simply Explained.</p>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure class='book'>

						<!-- Front -->

							<ul class='hardcover_front'>
								<li>
									<div class="coverDesign grey">
										<span class="ribbon">Nº1</span>
										<h1>Thought</h1>
										<p>upgrade</p>
									</div>
								</li>
								<li></li>
							</ul>

						<!-- Pages -->

							<ul class='page'>
								<li></li>
								<li>
									<a class="btn" href="/shop">Detail</a>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>

						<!-- Back -->

							<ul class='hardcover_back'>
								<li></li>
								<li></li>
							</ul>
							<ul class='book_spine'>
								<li></li>
								<li></li>
							</ul>
							<figcaption>
								<h1>The Thought Book</h1>
								<span>upgrade yourself</span>
								<p>Think Differently...and Why.</p>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure class='book'>

						<!-- Front -->

							<ul class='hardcover_front'>
								<li>
									<img src="../../static/landingpage/img/cover.jpg" alt="" width="100%" height="100%">
								</li>
								<li></li>
							</ul>

						<!-- Pages -->

							<ul class='page'>
								<li></li>
								<li>
									<a class="btn" href="/shop">Detail</a>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>

						<!-- Back -->

							<ul class='hardcover_back'>
								<li></li>
								<li></li>
							</ul>
							<ul class='book_spine'>
								<li></li>
								<li></li>
							</ul>
							<figcaption>
								<h1>The Literature Book</h1>
								<span>learn culture</span>
								<p>Books, let’s face it, are better than anything else..</p>
							</figcaption>
						</figure>
					</li>
				</ul>
				<p class="note"><em>The reading of all good books is like a conversation with the finest minds of past centuries. ( Rene Descartes )</em></p>
			</div>
		</div><!-- /container -->
	</body>
</html>