#product--detail{
    display: flex;
    background: rgb(187, 186, 186);
    padding: 30px;
    height: auto;
    justify-content: space-between;
}
.product__img {
    height: auto;
}
.product__name {
    font-size: 30px;
    font-weight: 400;
}
.product__rating > *{
    display: inline-block;
    padding-right: 10px;
}
.rating__count {
    color: #F2A817;
}
.rating__start > *{
    /* color: #F6CA19; */
}
.rating__5 > *:nth-child(5), 
.rating__5 > *:nth-child(4), 
.rating__5 > *:nth-child(3), 
.rating__5 > *:nth-child(2),
.rating__5 > *:nth-child(1) {
    color: yellow;
}
.rating__4 > *:nth-child(4), 
.rating__4 > *:nth-child(3), 
.rating__4 > *:nth-child(2),
.rating__4 > *:nth-child(1) {
    color: yellow;
}
.rating__3 > *:nth-child(3), 
.rating__3 > *:nth-child(2),
.rating__3 > *:nth-child(1) {
    color: yellow;
}
.rating__2 > *:nth-child(2),
.rating__2 > *:nth-child(1) {
    color: yellow;
}
.rating__1 > *:nth-child(1) {
    color: yellow;
}

.product__img > img {
    width: 120%;
}
.product__content {
    height: auto;
    width: 60%;
    background: rgb(255, 255, 255);
}
.product__content > div {
    margin-bottom: 10px;
}
.product__add {
    width: 100%;
    text-align: center;
    margin-top: 3%;
}
.product__add a {
    display: inline-block;
    width: auto;
    border-radius: 4px;
    line-height: 40px;
    padding: 0px 15px;
    height: 40px;
    color: white;
    background-image: linear-gradient(to right, #F09814 , #EC685B);
    font-weight: bold;
    transition: .5s;
}
.product__add > a:nth-child(1) {
    border: 2px solid #F6CA7F;
    color: #F6CA7F;
    background: white;
    line-height: 36px;
    margin-right: 20px;
}

.section-title {
    height: 71px;
    line-height: 71px;
    margin: 0;
}
.product__price{
    font-size: 30px;
    font-weight: 500;
    color: #F09814;
}
@media only screen and (max-width: 480px) {
    #product--detail {
        display: block;
    }
    .product__img > img {
        width: 100%;
    }
    .product__content{
        width: 100%;
    }
    .product__add a {
        margin: 0px;
    }

}
@media only screen and (max-width: 767px) {
    .product__description {
        display: none;
    }
    /* .product__view {
        display: none;
    } */
   
    .product__genres {
        display: none;
    }
    .product__add {
        text-align: center;
    }
    .product__add > a:nth-child(2) {
        margin-left: 20px;
    }
    .product__add > a:nth-child(1) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}
@media all and (min-width: 300px) and (max-width: 400px) {
   .product__add {
       text-align: center;

   }
   .product__add a:nth-child(2) {
       margin-left: 0;
   }
  
  }
.product__description {
    text-align: justify;
}
.product-body a {
    display: inline-block;
    background-image: linear-gradient(to right, #F09814 , #EC685B);
    height: 24px;
    color: white;
    line-height: 24px;
    margin-left: 35px;
    border-radius: 4px;
    padding: 0px 7px;
    position: absolute;
    right: 4%;
}
